Flask
Flask-SocketIO
python-dotenv
google-generativeai
torch
python-weather
googlemaps
websockets
googlesearch-python
aiohttp
beautifulsoup4
lxml
requests
eventlet
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
asyncio
